spring:
  application:
    name: vibeapp
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data/testdb
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

# mybatis: (removed)

logging:
  file:
    name: ./logs/app.log
  level:
    org.springframework.boot.autoconfigure: debug

server:
  port: 8080

debug: true
